#index{
    margin: 0;
    padding: 0;
    background-image: url('./../img/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body:not(#index){
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: #fff;
}

#index > header > h1{
    text-align: center;
    margin-left: 300px;
    margin-top: 350px;
    color:#fff;
    font-size: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body:not(#index) > header > h1{
    text-align: center;
    margin-left: 300px;
    margin-top: 60px;
    color:#000;
    font-size: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    text-align: center;
    margin-left: 300px;
    margin-top: 0;
    color:#333;
    height: 100px;
    align-items: center;
    justify-content: center; 
}




  
 
  
  








  