#vba_work,
#vba_timetable,
#school_nmg,
#slack_tmp{
  text-decoration: none; 
  color: #333;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 20px;
  transition: all 0.2s ease;
}

#vba_work:hover,
#vba_timetable:hover,
#school_nmg:hover,
#slack_tmp:hover{
  color: #f00;
  transform: scale(1.02);
}